<div class="row">
  <div class="article col-md-10 col-md-offset-1">
    <div class="title">
      <h2>
        WebFontを入れつつアプリっぽくしてみた
      </h2>
    </div>
    <p>
      <a href="http://getbootstrap.com/components/#glyphicons-glyphs">Bootstrapに入っているGlyphicon</a>を使い、
      コメント・いいねのリンクなどを付けてみた。
    </p>

    <p>
      glyphiconは中身が空のspanタグに所定のclassを指定することで使うことができる。詳細はソース参照のこと。
    </p>

    <p>
      ここまでやればモックっぽくみえる:)
    </p>
    <%= render partial: 'social_links', locals: { date: '[2014/06/28]' } %>
  </div>
</div>


<div class="row">
  <div class="article col-md-10 col-md-offset-1">
    <div class="title">
      <h2>
        見た目の調整を入れてみた
      </h2>

    </div>
    <p>
      記事タイトルが目立たなくて座りが悪かったので、自前でスタイルを追加して記事タイトル枠の追加＆記事間の余白調整などを行った。
    </p>

    <p>
      ソースコードはassets/stylesheets/modern4.css.scssを参照のこと
    </p>

    <p>
      とりあえず人に見せられるレベルにはなった印象。
    </p>
    <%= render partial: 'social_links', locals: { date: '[2014/06/28]' } %>
  </div>
</div>

<div class="row">
  <div class="article col-md-10 col-md-offset-1">
    <div class="title">
      <h2>
        Bootstrapに合わせてコンテンツ部分を修正してみた
      </h2>
    </div>
    <p>
      <a href="http://getbootstrap.com/css/#grid">BootstrapのGrid systemに関する説明</a>を見つつ、コンテンツ部分が横に広がり過ぎていたので左右に1/12の余白を設けるようにしてみた。
    </p>

    <p>
      一つ前の投稿にあるPanelなんかも、これで多少すっきりしたかな。
    </p>
    <%= render partial: 'social_links', locals: { date: '[2014/06/27]' } %>
  </div>
</div>


<div class="row">
  <div class="article col-md-10 col-md-offset-1">
    <div class="title">
      <h2>
        Bootstrapに合わせてヘッダとフッタを修正してみた
      </h2>
    </div>
    <p>
      <a href="http://getbootstrap.com/components/#navbar">BootstrapのNavbarに関する説明</a>を見つつ、
      とりあえずレイアウトファイル（views/layout/modern2.html.erb）を修正し、ヘッダとフッタだけ差し替えしてみた。これでメニュー項目はそれなりにマシになった印象。
      次はコンテンツ部分（views/modern2/index.html.erb）を修正していこうと思う
    </p>
    <%= render partial: 'social_links', locals: { date: '[2014/06/26]' } %>
  </div>
</div>

<div class="row">
  <div class="article col-md-10 col-md-offset-1">
    <div class="title">
      <h2>Bootstrapとかいうのを入れてみた</h2>
    </div>
    <p>
      見た目がダサいと周りからさんざん言われたので、Bootstrapとかいうのを入れてみた。
      どうやらこれを使うと
    </p>

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Bootstrap Panelのてすと（ここがpanel-heading）</h3>
      </div>
      <div class="panel-body">
        こういうパネル表示ができるみたい（ここはpanel-body）
      </div>
      <div class="panel-footer">Panelにはフッタも設定できるっぽい（ここはpanel-footer）</div>
    </div>

    <p>
      こういうことが簡単にできるらしい。
      このページはまだ既存のHTMLにBootstrapを適用しただけなのでまだ表示が怪しい。
      次はまるっとBootstrapの流儀に従って書き直さないといけないな。
    </p>
    <%= render partial: 'social_links', locals: { date: '[2014/06/25]' } %>
  </div>
</div>

<div class="row">
  <div class="article col-md-10 col-md-offset-1">
    <div class="title">
      <h2>
        今日の日記
      </h2>
    </div>
    <p>
      日記書き始めたけど書くことないな。みんな何書いてるんだろう？
    </p>
    <%= render partial: 'social_links', locals: { date: '[2014/06/25]' } %>
  </div>
</div>

<div class="row">
  <div class="article col-md-10 col-md-offset-1">
    <div class="title">
      <h2>
        ブログはじめました
      </h2>
    </div>
    <p>
      今ナウなヤングの中でブログを始めるのが流行ってるらしいので、はじめてみました
    </p>
    <%= render partial: 'social_links', locals: { date: '[2014/06/24]' } %>
  </div>
</div>
