<h1>モックサンプル集</h1>
<p>詳しくはソースをみましょう</p>
<hr/>
<ul>
  <li><%= link_to 'ショボいデザインの例（traditionalコントローラ）', traditional_index_path %></li>
  <li><%= link_to 'Bootstrapを導入した例（modernコントローラ）', modern_index_path %></li>
  <li><%= link_to 'Bootstrapを導入し、Bootstrapの流儀に従ってレイアウトファイルを書き直した例（modern2コントローラ）', modern2_index_path %></li>
  <li><%= link_to 'modern2にさらに追加でコンテンツ部分もBootstrap流儀に書き直した例（modern3コントローラ）', modern3_index_path %></li>
  <li><%= link_to 'modern3にさらに追加で自前スタイルを追加し、見た目を整えたバージョン（modern4コントローラ）', modern4_index_path %></li>
  <li><%= link_to 'modern4にWebフォントでアイコンをつけ、さらに見た目を整えたバージョン（modern5コントローラ）', modern5_index_path %></li>
  <li><%= link_to 'modern5をズルくしたバージョン（modern6コントローラ）', modern6_index_path %>
    <ul>
      <li>参考（ズルいデザイン）：<%= link_to 'zurui-design by ken_c_lo / TAEKO AKATSUKA', 'https://speakerdeck.com/ken_c_lo/zurui-design' %></li>
      <li>参考（背景素材）：<%= link_to 'Subtle Patterns', 'http://subtlepatterns.com/' %></li>
    </ul>
  </li>
</ul>
